Config { font = "xft:Source Code Pro:pixelsize=12:style=bold:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <fc=#00ff00><usedratio>%</fc>"] 10
                    , Run Com "/bin/bash" ["-c", "/home/kriket/.local/bin/cmus-info"]  "cmus-info" 10
                    , Run Com "/bin/bash" ["-c", "/home/kriket/.local/bin/cmus-state"] "cmus-state" 10
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run StdinReader
                    , Run ThermalZone 0 ["-t","<fc=#00ff00><temp>C</fc>"] 30
                    , Run Com "/bin/bash" ["-c", "/home/kriket/.local/bin/get-volume.sh"] "myvol" 1
                    , Run Battery        [ "--template" , "Bat: <acstatus>"
                             , "--Low"      , "10"        -- units: %
                             , "--High"     , "80"        -- units: %
                             , "--low"      , "red"
                             , "--normal"   , "orange"
                             , "--high"     , "green"

                             , "--" -- battery specific options
                                       -- discharging status
                                       , "-o"	, "<left>% (<timeleft>)"
                                       -- AC "on" status
                                       , "-O"	, "<fc=#00ff00>Charging <left>%</fc>"
                                       -- charged status
                                       , "-i"	, "<fc=#00ff00>Charged</fc>"
                             ] 10
                    ,Run DiskU [("/", "sdd: <fc=#00ff00><used></fc>/<fc=#00ff00><size></fc>")] [] 300         
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%StdinReader% }{ %cpu% %thermal0% | %memory% | %disku% | %battery% | Vol: <fc=#00ff00>%myvol%</fc> | %cmus-state% <fc=#00ff00>%cmus-info%</fc> | <fc=#00ff00>%date%</fc>   "
       }
